.blog {
  .post {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    transition: all 200ms ease-out;
    margin-bottom: 20px;

    &:hover {
      box-shadow: 0 0 30px #ccc;
    }

    .thumbnail {
      margin: 0;
      padding: 0;
      background-size: cover;
      background-position: 50% 50%;
      min-height: 150px;
    }

    .content {
      margin: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .title {
        margin-top: 5px;
        font-size: 22px;
        margin-bottom: 0;
      }

      .time {
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
      }

      .description {
        font-size: 15px;
        margin-bottom: 5px;
      }
    }
  }
}
