.blog-post {
  white-space: pre-wrap;

  .image {
    position: relative;
    img {
      width: 100%;
      border-radius: 10px;
    }
  }

  .title {
    font-weight: 200;
    font-size: 40px;
    padding: 15px 0;
    width: 100%;
    text-align: center;
  }

  .author {
    padding: 2px 5px;
    width: 100%;
    font-size: 15px;
    text-align: center;
  }

  .time {
    padding: 0px 5px;
    width: 100%;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
  }

  .description {
    margin-top: 20px;
    text-align: justify;
  }

  .content {
    margin-top: 15px;
    text-align: justify;
  }

  .tags {
    margin-top: 20px;
  }
}
