@import "~antd/dist/antd.css";
body {
  font-weight: 200;
}

.intro {
  background: #eee;
  color: #444;
  text-align: center;
}

@media (min-width: 991px) {
  .intro {
    position: fixed;
    top: 0;
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 991px) {
  .intro {
    padding: 30px;
  }
}

.intro .name {
  font-size: 40px;
  font-weight: 300;
  margin: 10px 0 0 0;
}

.intro .description {
  font-size: 22px;
  font-weight: 200;
}

.resume {
  padding: 50px;
}

.resume h2 {
  font-size: 45px;
  font-weight: 200;
  margin-top: 20px;
  border-bottom: 1px solid #bbb;
}

.resume h3 {
  font-size: 30px;
  font-weight: 200;
}

.resume .ant-timeline-item-content {
  font-size: 20px;
  font-weight: 200px;
  padding-top: 18px;
  padding-left: 5px;
  margin-bottom: -20px;
}

.resume .education .ant-timeline-item-content {
  margin-bottom: -30px;
}

.resume .ant-timeline-item-content p {
  font-size: 14px;
  font-weight: 100;
  font-size: 14px;
  font-weight: 100;
}

.resume .ant-timeline-item:last-child {
  margin-bottom: -50px;
}

.resume .ant-tag {
  font-size: 20px;
  margin: 3px;
}

.resume p {
  font-size: 20px;
}

.blog {
  padding: 50px;
}

.blog-item {
  margin-bottom: 40px;
}

.blog-item h2 {
  font-weight: 300;
  font-size: 30px;
}

.blog-item h4 {
  font-weight: 200;
  font-size: 20px;
}

.blog p {
  font-size: 15px;
  font-weight: 200;
  margin-bottom: 0;
}

.blog h2,
.blog h4 {
  margin-bottom: 0;
}

.blog .ant-pagination {
  text-align: center;
  margin-top: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.blog .ant-pagination-simple .ant-pagination-item-link:after {
  font-size: 20px;
  font-weight: 100;
}

.blog .ant-pagination-simple .ant-pagination-simple-pager input {
  border-radius: 0;
  padding: 20px 10px;
  font-size: 20px;
  font-weight: 100;
}

.blog .ant-pagination-simple .ant-pagination-simple-pager {
  font-size: 20px;
  font-weight: 100;
  height: 42px;
}

.ant-pagination-prev a,
.ant-pagination-next a {
  border-radius: 0 !important;
  color: rgba(0, 0, 0, 0.5);
}

.blog .pagination-advanced .ant-pagination-item,
.blog .pagination-advanced .ant-pagination-prev,
.blog .pagination-advanced .ant-pagination-next {
  font-size: 15px;
  border-radius: 0;
  min-height: 30px;
  padding: 0;
  font-weight: 200 !important;
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.blog .pagination-advanced .ant-select-selection {
  border-radius: 0;
}

.post {
  padding: 50px;
}

.post img {
  max-width: 100%;
}

.post h1 {
  font-size: 36px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 200;
}

.post p.time {
  font-weight: 200;
  margin-bottom: 0;
  margin-top: 30px;
}

.post h2 {
  font-size: 22px;
  font-weight: 200;
}

.post h3 {
  font-size: 28px;
  font-weight: 200;
}

.post p.content {
  font-size: 20px;
  font-weight: 200;
}

.post .comments-area {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  margin-top: 25px;
}

.post textarea {
  font-size: 16px;
  border-radius: 0;
}

.post input {
  border-radius: 0;
}

.post button {
  border-radius: 0;
}

.comments {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0;
}

.comment-avatar {
  width: 65px;
  height: 65px;
  float: left;
}

.comment-content {
  padding: 10px 0;
  margin-left: 80px;
}

.comment-meta {
  font-size: 15px;
  font-weight: 200;
}

.comment-meta .username {
  font-size: 17px;
  font-weight: 400;
  color: #222;
}
.ant-tooltip-inner {
  border-radius: 0;
}
.nav .anticon {
  font-size: 38px;
}
.nav ul li a {
  padding: 20px 10px;
  color: #333;
  text-transform: uppercase;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline;
}

.for-tag {
  margin-bottom: 0;
  margin-top: 5px;
}

.ant-back-top {
  font-size: 40px;
  margin-bottom: 30px;
}

.loading-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.loading {
  transform: translateX(-20px);
}

.loading i {
  font-size: 60px;
}

.login {
  margin: 50px;
}

.login input,
.login button {
  border-radius: 0;
}

.timeline-list {
  margin-top: 25px;
}

.print-button {
  position: absolute;
  top: 0;
  right: 0;
}

.print-button button {
  border-radius: 0 !important;
  font-size: 22px;
}

@media print {
  .nav {
    display: none;
  }

  .ant-back-top {
    display: none;
  }

  .print-button {
    display: none;
  }
}
